input,
select {
  border: 1px solid #ccc;
  height: 30px;
  padding: 4px;
  display: inline-block;
  min-width: 160px;

  &[type="date"] {
    padding: 0 4px;
  }

  + input,
  + select {
    margin-left: 8px;
  }
}

.input {
  label {
    display: block;
    margin-top: 8px;
    margin-bottom: 2px;
  }

  input,
  select {
    display: inline-block;
  }
}

.validated :invalid {
  border: 1px solid #f00;
}

button {
  box-shadow: inset 0 1px 0 0 #97c4fe;
  background-color: #1976d2;
  border-radius: 6px;
  border: 1px solid #337fed;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-size: 15px;
  font-weight: bold;
  padding: 6px 24px;
  text-decoration: none;

  &:hover,
  &:focus {
    background-color: #1e62d0;
  }

  &:active {
    position: relative;
    top: 1px;
  }

  &[disabled] {
    opacity: .5;
  }
}
