<h1>Your Tickets are ready!</h1>

<div class="ticket-holder">
  <strong>Your Details</strong>

  <div class="ticket-holder-row">
    <div>
      <strong>Name</strong><br/>
      {{(tickets || [])[0].name}}
    </div>

    <div>
      <strong>Booked on</strong><br/>
      {{(tickets || [])[0].created_at | date: 'dd/MM/yyyy'}}
    </div>
  </div>
</div>

<div class="ticket-container">
  <div class="ticket" *ngFor="let ticket of tickets">
    <strong style="font-size: 20px; margin-bottom: 8px;">Ticket</strong>
    <p class="ticket-seat">
      Row: {{ticket.row.name}}<br/>
      Seat: {{ticket.seat}}
    </p>

    <div class="ticket-code">
      Code: <strong>{{ticket.code}}</strong>
    </div>

    <app-show-card [concert]="ticket.show.concert!" [show]="ticket.show" [disableClick]="true"></app-show-card>

    <button (click)="confirmCancelTicket(ticket)" [disabled]="cancellingTicket['' + ticket.id]">Cancel Ticket</button>
  </div>
</div>
