.ticket-container {
  margin-top: 32px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
}

.ticket-holder {
  border-radius: 8px;
  border: 1px solid #000;
  padding: 16px;
  width: 400px;
  margin: 0 auto;
}

.ticket-holder-row {
  display: flex;
  padding: 16px;

  > div {
    width: 40%;
  }
}

.ticket {
  border-radius: 8px;
  border: 1px solid #000;
  padding: 16px;
  text-align: center;
  margin: 0 16px 16px 0;
}

.ticket-code {
  border: 1px solid #000;
  border-radius: 8px;
  padding: 16px;
  width: 50%;
  margin: 16px auto;
}
