.toolbar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding: 0 24px;
  height: 60px;
  display: flex;
  align-items: center;
  background-color: #1976d2;
  color: white;
  font-weight: 600;

  .title {
    color: white;
    line-height: 60px;
  }

  .button {
    background: white;
    padding: 8px;
    margin-left: 8px;
  }
}

main {
  margin: 82px auto 32px;
  padding: 0 16px;
  max-width: 1200px;
}
