<h1>Retrieve your tickets.</h1>

<div class="form-container">
<form (submit)="submitForm(form)" #form="ngForm" [ngClass]="{validated: formValidated}">
  <div class="input">
    <label for="name">Name</label>
    <input id="name" name="name" type="text" [(ngModel)]="name" required>
  </div>
  <div class="input">
    <label for="code">Code</label>
    <input id="code" name="code" type="text" [(ngModel)]="code" required>
  </div>

  <p *ngIf="incorrectDetails">Could not find tickets with these details.</p>

  <button type="submit" [disabled]="loading" style="margin-top: 16px;">Get Tickets</button>
</form>
</div>
