<div class="venue">
  <div class="stage">Stage</div>

  <div class="show-row" *ngFor="let row of seating.rows">
    <span style="position: absolute; left: 0">{{row.name}}</span>
    <div *ngFor="let occupied of getSeats(row.seats); let seatIndex = index"
         [tabindex]="occupied ? '-1' : '0'"
         class="seat"
         role="button"
         [title]="'Row: ' + row.name + ', Seat: ' + (seatIndex + 1)"
         [attr.data-row]="row.id"
         [attr.data-seat]="seatIndex + 1"
         [ngClass]="{
           'seat-available': !occupied && !isSeatSelected(row.id, seatIndex + 1),
           'seat-unavailable': occupied,
           'seat-selected': isSeatSelected(row.id, seatIndex + 1)
         }"
         (click)="toggleSeat(row, seatIndex + 1, occupied)"
         (keyup)="($event.code === 'Enter' || $event.code === 'Space') && toggleSeat(row, seatIndex + 1, occupied)">
    </div>
  </div>

</div>
