<h1>Checkout these amazing concerts in Graz.</h1>

<ng-container *ngIf="getShownConcerts(); else loading; let shownConcerts">
  <div style="text-align: center">
    <select [(ngModel)]="artistFilter" aria-label="Artist">
      <option selected value="">All Artists</option>
      <option *ngFor="let artist of artists" [value]="artist">{{artist}}</option>
    </select>
    <select [(ngModel)]="locationFilter" aria-label="Location">
      <option selected value="">All Locations</option>
      <option *ngFor="let location of locations" [value]="location">{{location}}</option>
    </select>

    <input type="date" placeholder="Date" [(ngModel)]="dateFilter">

    <button (click)="clearFilter()" style="margin-left: 8px" [disabled]="!filterActive">Clear</button>
  </div>

  <div class="card-container" *ngIf="shownConcerts.length > 0; else empty">
    <ng-container *ngFor="let concert of shownConcerts">
      <app-show-card [concert]="concert.concert" [show]="concert.show"></app-show-card>
    </ng-container>
  </div>
  <ng-template #empty>
    <p style="text-align: center; margin-top: 32px;">No shows are matching the current filter criteria.</p>
  </ng-template>
</ng-container>
<ng-template #loading><p style="text-align: center">Loading concerts...</p></ng-template>
